
<%- include("partials/header"); -%>
<a class="link" href="/compose">
  <div class="container-fluid">
    <div class="heading"><h1>Compose</h1></div>
    <div class="content">
      <p>

      </p>
    </div>

  </div>
</a>
  <%  posts.reverse().forEach(function(post){ %>

  <a class="link" href="/posts/<%=post._id%>">
    <div class="container-fluid">
      <div class="heading"><h1><%=post.title%></h1></div>
      <div class="content">
        <p>
          <%=post.content.substring(0, 100) + " ..."%>
        </p>
      </div>

    </div>
  </a>
  <% }) %>

<%- include("partials/footer"); -%>
